<h3 class="title-lg white">Редактирование статьи: <%= @article.title %> </h3>
<%= render 'form', article: @article %>  <!--  Шаблон html был занесен в отдельных паршл _form ,  в паршл была передана переменная @article-->
